#root {
    width: 100%;
    min-height: 100vh;
    background-color: $black_1;
    font-size: 14px;
    color: $grey;
    line-height: 1.34;
}

.wrapper {
    width: 100%;
    min-height: 200vh;
    position: relative;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: $grey;
    text-transform: capitalize;
}

.small-title {
    font-size: 1rem;
    font-weight: 600;
    color: $grey;
}

.small-text {
    font-size: 12px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 10000;
    transition: all .3s;
    visibility: hidden;
    opacity: 0;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
    }

    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10001;
        width: 500px;
        min-height: 300px;
        background-color: $black_2;

        .header {
            position: relative;

            .title {
                text-align: center;
                font-size: 20px;
                line-height: 24px;
                color: $grey;
                font-weight: 700;
                padding: 16px 0;
            }

            .close-btn {
                position: absolute;
                top: 12px;
                right: 16px;
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: $black_3;
                transition: background-color 0.3s;
                color: $grey;
                font-size: 1.2rem;
                text-align: center;
                line-height: 36px;
                cursor: pointer;

                &:hover {
                    background-color: $black_4;
                }
            }
        }
    }
}
