// colors
$white: #ffff;
$grey: #e4d6eb;


$black_1: #18191A;
$black_2: #242526;
$black_3: #3a3b3c;
$black_4: #4E4F50;
$black_5: #1c1e21;


$blue_1: #3d91fb;
$blue_2: #2884fa;
$blue_3: #2d88ff;
$blue_4: #263951;



